/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/


*{
    box-sizing: border-box;
}

body{
    background-color: white;
}

thead{
    background-color: #feb672;
}

tbody{
}

th:hover{
    background: none;
}

tr{
    font-size: 1.2em;
}

td{
    padding: 1rem;
    vertical-align:middle;
}

td > a{
    text-decoration: none;
    color: black;
}

select{
    padding: 15px 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #3d3935;
}

.content{
    margin-bottom: 5rem;
}

.content > h1{
    border-bottom: none;
}

.user-table-row > th{
    text-align: center;
}

.user-table-row > td{
    text-align: center;
}

.edit-btn{
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #fff;
    background-color:#feb672;
    border-color:#feb672;
    width: 100%;
}

.edit-btn:hover{
    color: white;
}

.add-btn{
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #fff;
    background-color:#feb672;
    border-color:#feb672;
    width: 60%;
}

.add-btn:hover{
    color: white;
}

.delete-btn{
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #fff;
    background-color:#feb672;
    border-color:#feb672;
    width: 100%;
}

#create-user{
    margin: 0 auto;
}

.c-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 30px 15px;
  border-radius: 4px;
  background-color: #fff;
}

.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 600px;
    padding: 20px;
}

.fieldcontain label{
    width: 70%;
    text-align: left;
}

.fieldcontain input[type="text"]{
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #3d3935;
    border-radius: 4px;
    background-color: #fff;
    color: #3d3935;
    outline: 0;
}

.fieldcontain input[type="number decimal"]{
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #3d3935;
    border-radius: 4px;
    background-color: #fff;
    color: #3d3935;
    outline: 0;
}

.c-form-btn {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border: none;
  border-radius: 4px;
  background-color: #feb672;
  color: #ffff;
  font-size: 1.125rem;
  letter-spacing: 2px;
  text-align: center;
  outline: none;
  cursor: pointer;
}

.c-form-btn > a{
    text-decoration: none;
    color: white;
}

.navbar-nav{
    justify-content: flex-end;
    margin-right: 1rem;
}

.navbar-nav > li{
    margin: 0 1rem;
}

.navbar-nav > li > a{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

.navbar-nav > li > a:hover{
    cursor: pointer;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -14px;
    left: 0;
    background-color: rgb(252, 186, 3);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.home-section{
    margin: 1rem;
    padding: 1rem;
    background-color: lightblue;
}

.home-section h1{
    color: red;
}

.footer-container{
    margin-top: 5rem;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    color: white;
    margin: 0 0.2rem 0 0.2rem;
    background-color: gray;
}

.footer img{
    margin: 0 auto;
}

.img-wrapper{
    display: flex;
}

.img-container{
    display: flex;
    margin: .5rem;
}

.sub-text{
    margin: 0.2rem 0.2rem;
}